.comic {
  $color_1: #a2c525;
  $color_2: #fff;
  background-color: black;
  display: flex;
  @media (min-width: 992px) {
    overflow: hidden;
    height: 100vh;
  }
  @media (max-width: 992px) {
    flex-direction: column;
  }
  .icon_back_page {
    cursor: pointer;
    background: transparent;
    width: 50px;
    position: fixed;
    z-index: 3;
    top: 30%;
    transform: translateY(-50%);

    right: 15px;
    @media (min-width: 500px) {
      right: 30px;
    }
    @media (min-width: 1278px) {
      transform: translateY(0);
      top: 30px;
      right: initial;
      left: 30px;
    }
    svg {
      fill: #90af21;
    }
    &:hover {
      svg {
        opacity: 0.9;
      }
    }
  }
  .comic_img {
    position: relative;
    height: 80vh;
    width: 100vw;
    @media (min-width: 992px) {
      width: 50vw;
      height: 100vh;
    }

    .overlay {
      background-color: #000000;
      filter: grayscale(0.3) blur(10px);
      transform: scale(1.1);
      width: 120vh;
      height: 100vh;
      position: absolute;
      max-width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    img {
      border-radius: 2%;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
      margin: 0 auto;
      transform-origin: left top;
      z-index: 1;
      height: 70vh;
      @media (min-width: 1278px) {
        min-height: 568px;
      }

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .comic_description {
    z-index: 2;
    background-color: $color_2;
    @media (min-width: 992px) {
      width: 50vw;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .header {
      z-index: 2;
      background-color: $color_1;
      margin-bottom: 30px;
      .comic_title {
        color: $color_2;
        line-height: 140%;

        font-size: calc(15px + (15 / 1444) * 100 * 1vw);
        padding: 20px 15px;
        @media (min-width: 992px) {
          font-size: calc(20px + (15 / 1444) * 100 * 1vw);
          padding: 50px 30px;
        }
      }
    }
    .box_itens {
      padding: 0 15px;
      @media (min-width: 1200px) {
        padding: 0 30px;
      }
      margin-bottom: 50px;

      &:last-child {
        padding-bottom: 25px;
      }

      .comic_description_title {
        margin-top: 20px;
        font-size: calc(20px + (15 / 1444) * 100 * 1vw);
        margin-bottom: 5px;

        @media (min-width: 992px) {
          margin-bottom: 30px;
          font-size: calc(15px + (15 / 1444) * 100 * 1vw);
        }

        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 50px;
          height: 1px;
          background-color: $color_1;
        }
      }
      .comic_description_item_name {
        .comic_title {
          padding: 10px 15px;
          margin: 0 -15px;

          font-size: calc(10px + (15 / 1444) * 100 * 1vw);
          @media (min-width: 992px) {
            font-size: calc(3px + (15 / 1444) * 100 * 1vw);
          }

          &:nth-child(2n) {
            background-color: rgba(12, 12, 12, 0.05);
          }
        }
      }
    }
  }
}
